@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-foreground {
    color: hsl(var(--foreground)); /* or any valid color */
  }
}

@layer base {
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite
  ;
    --animate-meteor: meteor 5s linear infinite}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
}